.hero-section-fly-ux {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  max-width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
}

.hero-section-fly-ux h1 {
  font-size: 12.8rem;
  font-weight: 900;
  letter-spacing: -8px;
}

.hero-section-fly-ux p {
  font-size: 2.4rem;
  font-weight: 400;
}
