.navigation a {
  color: #7b61ff;
}
.navigation a:hover {
  color: #0fe397;
}
.navigation a::after {
  background-color: #0fe397;
}

.page-top {
  /* padding-bottom: 4rem; */
  background-color: rgba(168, 155, 231, 0.071);
}
.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 4rem 4rem 6rem 4rem;
  column-gap: 4rem;
  font-weight: 500;
  justify-items: center;
  align-items: center;
}
.intro-text {
  font-size: 4.2rem;
  line-height: 2;
  letter-spacing: -2px;
  display: flex;
  flex-direction: column;
}

.contact-btn {
  font-size: 2rem;
  text-decoration: none;
  background-color: #7b61ff;
  color: aliceblue;
  padding: 1rem 4rem;
  width: fit-content;
  font-weight: 300;
  border-radius: 15px;
  letter-spacing: normal;
}

.contact-btn:hover {
  background-color: #0fe397;
  font-weight: 600;
}

#me-img-lg {
  border-radius: 15px;
  grid-column: 2;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 2.4rem;
  margin-bottom: 2.1rem;
}
.social-media-icon {
  color: #31393c;
  font-size: 48px;
}
.social-media-icon:hover {
  color: #3d3d3d;
}

h2 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

#my-work {
  margin-top: 4rem;
  padding: 8rem 4rem;
  background-color: rgba(15, 227, 149, 0.071);
  margin-bottom: 4rem;
}

#my-work h1 {
  font-size: 3.8rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
}

.cards {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.cards a {
  text-decoration: none;
}

.card {
  border-radius: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 2px; */
  background-color: white;
  border: 1px solid rgba(188, 188, 188, 0.392);
  box-shadow: 0px 10px 30px 4px rgba(99, 96, 96, 0.124);
}

.card:hover {
  box-shadow: 0px 10px 30px 4px rgba(189, 194, 189, 0.553);
}

.card img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.card-text {
  border-top: 1px solid rgba(128, 128, 128, 0.272);
  padding: 1.8rem 0 2rem 2.4rem;
  align-self: stretch;
}

.card-text h2 {
  font-size: 2.4rem;
  color: #31393c;
  padding-bottom: 6px;
  letter-spacing: -1.5px;
}

.card-text p {
  font-size: 1.2rem;
  color: #31393c;
  line-height: 1.5;
  letter-spacing: 1.25px;
}

.hvr-rotate {
  display: inline-block;
  /* vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover,
.hvr-rotate:focus,
.hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*ABOVE 1280 [87em*16px] (Landscape Tablet Screen)*/
@media (min-width: 80em) {
  .intro {
    gap: 6rem;
  }
  .intro-text {
    font-size: 3.2rem;
    gap: rem;
  }
  .page-top {
    padding: 4rem;
  }

  #me-img-lg {
    width: 320px;
    height: 320px;
  }
}

/*ABOVE 1280 [87em*16px] (Landscape Tablet Screen)*/
@media (max-width: 79em) {
  .intro-text {
    font-size: 3.8rem;
    gap: rem;
  }
  #me-img-lg {
    width: 300px;
    height: 300px;
  }
}

/*BELOW 992px [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 62em) {
  .intro {
    gap: 1rem;
  }
  #me-img-lg {
    width: 40%;
    width: 260px;
    height: 260px;
  }
  .card img {
    height: 320px;
    width: 100%;
  }
}

/*BELOW 528 [33em*16px] Large Smart Phone*/
@media (max-width: 33em) {
  /* HOMEPAGE INTRO SECTION */
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-text {
    font-size: 2.4rem;
    letter-spacing: normal;
  }
  #me-img-lg {
    width: 120px;
    height: 120px;
    align-self: flex-start;
    margin-top: 7rem;
  }
  .social-media-icon {
    font-size: 42px;
  }
  .contact-btn {
    font-size: 1.8rem;
  }

  /* MY WORK SECTION */
  #my-work h1 {
    padding-left: 0;
    font-size: 1.8rem;
  }
  .cards {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .card {
    width: 80vw;
    box-shadow: none;
  }
  .card:hover {
    box-shadow: none;
  }
}
/*BELOW  432 [27em*16px] Smaller Smart Phone*/
@media (max-width: 27em) {
  .intro-text {
    align-items: center;
    text-align: center;
    gap: 2.4rem;
  }
  #me-img-lg {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
  }
  .contact-btn {
    font-size: 2.8rem;
  }
  #my-work h1 {
    font-size: 2.8rem;
  }
  #my-work {
    padding: 4rem 3.2rem;
  }
  .card-text h2 {
    font-size: 2.8rem;
  }
  .card img {
    height: 200px;
    width: 100%;
  }
  .card-text p {
    font-size: 1.6rem;
    color: #31393c;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .navigation a::after {
    background-color: transparent;
  }
  .navigation a:hover {
    color: none;
  }
}

/*BELOW  304 [27em*16px] Very Small Smart Phone*/
@media (max-width: 19em) {
  .contact-btn {
    font-size: 2.4rem;
  }
  .intro-text {
    text-align: center;
    gap: 2rem;
  }
  .card img {
    height: 120px;
    width: 100%;
  }
  #my-work {
    padding: 4rem 2rem;
  }
  #my-work h1 {
    font-size: 2rem;
  }
}
