@import url("/css/style.css");

.navigation a {
  color: #7b61ff;
}
.navigation a:hover {
  color: #0fe397;
}
.navigation a::after {
  background-color: #0fe397;
}

.page-top {
  background-color: rgba(168, 155, 231, 0.071);
  height: 100vh;
}
.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 4rem;
  column-gap: 7rem;
  justify-items: center;
  align-items: center;
  font-weight: 500;
  /* padding-bottom: 8rem; */
}
.intro-text {
  font-size: 4rem;
  line-height: 2;
  letter-spacing: -2px;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.contact-btn {
  font-size: 2.4rem;
  text-decoration: none;
  background-color: #7b61ff;
  color: aliceblue;
  padding: 1rem 4rem;
  width: fit-content;
  font-weight: 300;
  border-radius: 15px;
  letter-spacing: normal;
}

.contact-btn:hover {
  background-color: #0fe397;
  font-weight: 600;
}

#me-img-lg {
  border-radius: 15px;
  grid-column: 2;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
}
/* #me-img-sm {
  display: none;
} */
.social-media {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 2.4rem;
  margin-bottom: 2rem;
}
.social-media-icon {
  color: #31393c;
  font-size: 48px;
}
.social-media-icon:hover {
  color: #5c3ef5;
}

#my-work {
  padding: 14rem 4rem 4rem 4rem;
  background-color: rgba(15, 227, 149, 0.071);
}

#my-work h1 {
  font-size: 4.8rem;
  padding-left: 4rem;
}

.cards {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.cards a {
  text-decoration: none;
}

.card {
  border-radius: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 2px; */
  background-color: white;
  border: 1px solid rgba(188, 188, 188, 0.392);
  box-shadow: 0px 10px 30px 4px rgba(99, 96, 96, 0.124);
}

.card:hover {
  box-shadow: 0px 10px 30px 4px rgba(33, 62, 33, 0.553);
}

.card img {
  object-fit: cover;
  height: 420px;
  width: 100%;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
}

.card-text {
  border-top: 1px solid rgba(128, 128, 128, 0.272);
  padding: 1.8rem 0 2rem 2.4rem;
  align-self: stretch;
}

.card-text h2 {
  font-size: 2.4rem;
  color: #31393c;
  padding-bottom: 6px;
  letter-spacing: -1.5px;
}

.card-text p {
  font-size: 1.2rem;
  color: #31393c;
  line-height: 1.5;
  letter-spacing: 1.25px;
}

/*BELOW 528 [33em*16px] Large Smart Phone*/
@media (max-width: 33em) {
  /* HOMEPAGE INTRO SECTION */
  .intro {
    grid-template-columns: 1fr;
    gap: 3.4rem;
    padding-top: 1.2rem;
  }
  .intro-text {
    font-size: 2.4rem;
    padding-left: 0;
    letter-spacing: normal;
  }
  #me-img-lg {
    width: 120px;
    height: 120px;
    align-self: flex-start;
    margin-top: 7rem;
  }
  .social-media-icon {
    font-size: 42px;
  }
  .contact-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
  .page-top {
    background-color: rgba(168, 155, 231, 0.071);
    height: 50vh;
  }
  /* MY WORK SECTION */

  #my-work {
    padding: 12rem 4rem;
    background-color: rgba(15, 227, 149, 0.071);
  }

  #my-work h1 {
    padding-left: 0;
    font-size: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-content: center;
  }

  .card {
    width: 80vw;
    box-shadow: none;
  }
  .card:hover {
    box-shadow: none;
  }
}
/*BELOW  432 [27em*16px] Smaller Smart Phone*/
@media (max-width: 27em) {
  .page-top {
    height: 100vh;
  }
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-text {
    align-items: left;
    gap: 2.8rem;
  }
  #me-img-lg {
    grid-column: 1;
    grid-row: 1;
  }
  .contact-btn {
    font-size: 2.4rem;
    padding: 1rem 4rem;
  }
}

/*BELOW  304 [27em*16px] Very Small Smart Phone*/
@media (max-width: 19em) {
  .page-top {
    height: 100vh;
  }
  .intro-text {
    align-items: center;
    text-align: center;
    gap: 2.8rem;
  }
  .card img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
  }
  #my-work h1 {
    font-size: 2rem;
  }
}
