.rw-page-top {
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: center;
  padding: 6rem;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.2rem;
  color: red;
}
