@import url("css/homepage.css");
/*GENERAL PAGE CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #f0ead2; */
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #3d3d3d;
}
.container {
  max-width: 180rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

header {
  padding: 3.2rem 0;
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
.navigation {
  display: flex;
  gap: 3.2rem;
}
.navigation a {
  font-size: 3.2rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -2px;
  display: inline-block;
  position: relative;
}
.navigation a:hover {
  font-weight: thicker;
}
.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*BELOW 1440px [87em*16px] (Landscape Tablet Screen)*/
@media (max-width: 90em) {
  html {
    font-size: 65%;
  }
  /*  padding: 3.2rem 12.4rem 0 26.4rem;*/
  .intro {
    padding: 3.2rem 12.4rem 0 8.4rem;
  }
  .intro-text {
    /*  padding: 6.4rem; */
    padding-right: 1.8rem;
    padding-top: 2.8rem;
  }
  .me-img {
    justify-self: center;
    max-height: 85%;
  }
}

/*BELOW 992px [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 62em) {
  html {
    font-size: 55%;
  }
  header {
    padding-bottom: 3.2rem;
  }
  .intro {
    gap: 1rem;
  }
  .intro-text {
    padding: 0 1.2rem;
  }
  .me-img {
    justify-self: center;
    max-height: 80%;
  }
}

/*BELOW 528 [33em*16px] Large Smart Phone*/
@media (max-width: 33em) {
  html {
    font-size: 55%;
  }
  header {
    padding-top: 2rem 2rem;
    justify-content: center;
  }
  .navigation a::after {
    background-color: transparent;
  }
  .navigation a:hover {
    color: none;
  }
}

/*BELOW  432 [27em*16px] Smaller Smart Phone*/
@media (max-width: 27em) {
  html {
    font-size: 40%;
  }
}

/*BELOW  304 [27em*16px] Very Small Smart Phone*/
@media (max-width: 19em) {
  html {
    font-size: 40%;
  }
  header {
    padding-top: 4rem 2rem;
  }
}
