@import url("css/homepage.css");

/*GENERAL PAGE CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #f0ead2; */
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: 1.25rem;
  scrollbar-color: #0d2b1f rgb(251, 251, 251);
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #3d3d3d;
}
.container {
  max-width: 180rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/*
body::-webkit-scrollbar-track {
  background: hsl(120 75% 50%/1);
  margin-block: 0.5rem;
  border-radius: 100vw;
}

body::-webkit-scrollbar {
  width: 2em;
  height: 1em;
} */

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
}

header {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  background-color: white;
}
.navigation {
  display: flex;
  gap: 3.2rem;
}
.navigation a {
  font-size: 3.2rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -2.4px;
  display: inline-block;
  position: relative;
}
.navigation a:hover {
  font-weight: thicker;
}
.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-logo {
  width: 32px;
  height: 32px;
  margin-left: 32px;
}

/*ABOVE 1280px [87em*16px] (Landscape Tablet Screen)*/
@media (min-width: 80em) {
  header {
    padding: 3.2rem 0;
  }
  .navigation a {
    font-size: 2.8rem;
  }
  html {
    font-size: 65%;
  }
}

@media (max-width: 79em) {
  html {
    font-size: 50%;
  }
}

/*BELOW 992px [48em*16px] (Landscape Tablet Screen)*/
@media (max-width: 62em) {
  html {
    font-size: 55%;
  }
}

/*BELOW 528 [33em*16px] Large Smart Phone*/
@media (max-width: 33em) {
  html {
    font-size: 55%;
  }
}
/*BELOW  432 [27em*16px] Smaller Smart Phone*/
@media (max-width: 27em) {
  html {
    font-size: 45%;
  }
  .header-logo {
    margin-left: 0;
  }
  .navigation {
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  header {
    padding: 2.8rem 0;
  }
}
